<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume for Xiaxin Xu</title>
    {% load  static %}
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1469886482_0448592.css">
</head>
<body>
<div class="wapper  clear-float">
    <div class="triangle-top"></div>
    <div class="triangle-bottom"></div>
    <h1 class="title">Resume</h1>
    <h2 class="name">Xiaxin Xu</h2>
    <!--<h3 class="job">Data engineer, Back-End Development Engineer</h3>-->
    <h3 class="job">---</h3>
    <div class="left-bar-box">
        <ul class="left-bar">
            <li>
                <h1>Contact information</h1>
                <div class="bottom-line"></div>
                <dl class="contact">
                    <dt>Address</dt>
                    <dd>3836SpringGarden Street Apt27, Philadelphia, PA, 19104</dd>
                </dl>
                <dl class="contact">
                    <dt>Mobile</dt>
                    <dd>215-789-0721</dd>
                </dl>
                <dl class="contact">
                    <dt>E-mail</dt>
                    <dd>chrisxu0425@gmail.com</dd>
                </dl>
            </li>
            <li>
                <h1>Skill Summary</h1>
                <div class="bottom-line"></div>
                <dl class="skill">
                    <dt>Python, Java</dt>
                    <dd>
                        <div class="html"></div>
                    </dd>
                </dl>
                <dl class="skill">
                    <dt>SQL</dt>
                    <dd>
                        <div class="css"></div>
                    </dd>
                </dl>
                <dl class="skill">
                    <dt>Git, Github, Gitlab</dt>
                    <dd>
                        <div class="css"></div>
                    </dd>
                </dl>
                <dl class="skill">
                    <dt>HTML, CSS, JS</dt>
                    <dd>
                        <div class="js"></div>
                    </dd>
                </dl>
                <dl class="skill">
                    <dt>Nginx, Apanch</dt>
                    <dd>
                        <div class="node"></div>
                    </dd>
                </dl>
                <!-- 					<ul class="skill-others">
                                        <li>Master the skill of python(Libraries used:pandas, numpy, matplotlib, requests, urlib2, Beautifulsoup). Can quickly pick up a python library.</li>
                                        <li>Able to write and execute complex queries in SQL. Know all about query optimization</li>
                                        <li>Experienced in Html/CSS. Great understand of float, box model, position, BFC</li>
                                        <li>Experienced in Django, Great understand of MVC design patterns. </li>
                                        <li>Experience in working with different operating systems Windows 7 / 8 / 10, UNIX, and MAC OS X. </li>
                                        <li>Good Analytical and Problem-Solving skills and ability to work on own besides being a valuable and contributing team player</li>
                                    </ul> -->
            </li>
            <li>
                <h1>Hobbies&Interests</h1>
                <div class="bottom-line"></div>
                <ul class="hobby">
                    <li>Coding</li>
                    <li>Coding</li>
                    <li>Coding</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="right-bar-box">
        <ul class="right-bar">
            <li>
                <h1>Job Objective</h1>
                <div class="bottom-line"></div>
                <p class="intrduce">Seeking a full stack or back end web developer position, where needs strong
                    programming, problem-solving, communication
                    and planning skills. <br><span></span></p>
            </li>
            <li class="split-line">
                <h1>Social Media</h1>
                <div class="bottom-line"></div>
                <ul class="social">
                    <li><a href="https://github.com/ChrisX2016" target="_Blank"><i
                            class="iconfont icon-socialgithub"></i>Github</a></li>
                    <!-- 						<li><a href="https://chrisx2016.github.io" target="_Blank"><i class="iconfont icon-blog" ></i>blog</a></li>
                     -->
                    <li class="wechat"><a href="javascript:void(0)"><i class="iconfont icon-weixin"></i>Wechat</a>
                        <div class="qr-code"><img src="img/qr-code.png" height="382" width="380" alt=""></div>
                    </li>
                </ul>
            </li>
            <li class="split-line">
                <h1>Education</h1>
                <div class="bottom-line"></div>
                <ul class="edu">
                    <li class="clear-float">
                        <div class="year">Sept 2011 - July 2015</div>
                        <dl>
                            <dt>SHANGHAI UNIVERSITY OF ENGINEERING SCIENCE</dt>
                            <dd>B.S. In Electronic Information Engineering -- Shanghai, China</dd>

                        </dl>
                    </li>
                    <li class="clear-float">
                        <div class="year">Sept 2015 - until now</div>
                        <dl>
                            <dt>DREXEL UNIVERSITY</dt>
                            <dd>M.S. In Electronic Information Engineering -- Philadelphia</dd>
                        </dl>
                    </li>
                </ul>
            </li>

            <li class="split-line">
                <h1>Project</h1>
                <div class="bottom-line"></div>
                <ul class="work">
                    <li class="clear-float">
                        <div class="year"><span>In progress  </span><a href="" title="源码"></a></div>
                        <dl>
                            <dt>Location Based Web Service</dt>
                            <dd>• Developed a map which is capable of searching nearby places and showing detailed info
                                based on public google apis <br>• Implemented RESTful api utilizing Express framework.
                                <br>• Deployed the application on amazon EC2
                            </dd>
                        </dl>
                    </li>
                    <li class="clear-float">
                        <div class="year"><span>Jan - Feb 2016  </span>
{#                            <a href="https://github.com/ChrisX2016/Web_crawler" title="源码"><i class="iconfont icon-lianjie"></i></a>#}
                        </div>
                        <dl>
                            <dt>eCommerce Website</dt>
                            <dd>• Designed and developed an online shop and deployed with resin<br>• Designed a database
                                for online shop and built an api to do all interaction with database
                            </dd>
                        </dl>
                    </li>
                    <li class="clear-float">
                        <div class="year"><span>Aug - Sept 2016  </span>
                            <a href="http://www.muuuuuj.com/polls" title="源码"><i class="iconfont icon-lianjie"></i></a>
                        </div>
                        <dl>
                            <dt>Polling Application</dt>
                            <dd>• Designed and developed a polling website utilizing Django, Bootstrap and Mysql<br>•
                                Deployed the application on amazon EC2<br>• Set up the application with Nginx, Gunicorn,
                                virtualenv, supervisor and Mysql
                            </dd>
                        </dl>
                    </li>
                    <li class="clear-float">
                        <div class="year"><span>June 2016  </span><a href="" title="源码"></a></div>
                        <dl>
                            <dt>Python Web Crawler</dt>
                            <dd>• Programmed code to crawl author, content, thumbs up number and release date from
                                www.qiushibaike.com<br>• Based on python requests, BeautifulSoup packages
                            </dd>
                        </dl>
                    </li>

                </ul>
            </li>
            <li class="split-line">
                <h1>Work Experience</h1>
                <div class="bottom-line"></div>
                <ul class="work">
                    <li class="clear-float">
                        <div class="year">Jul 2016-Sep 2016</div>
                        <dl>
                            <dt>Shanghai Fosun Pharma<span>Data engineer</span></dt>
                            <dd>Planned and built complete BI system for operational team of 30+ users. Collected
                                business requirements, setup ETL and data transformation flows, and built visual
                                dashboards using MySQL, SQL Server and Pentaho.
                            </dd>
                        </dl>
                    </li>
                    <li class="clear-float">
                        <div class="year">Aug 2012-Nov 2012</div>
                        <dl>
                            <dt>Shanghai Ruitao Trading Co., Ltd<span>SEO</span></dt>
                            <dd>Adjusted and optimized websites both internally and externally. Improved the key word
                                natural ranking of websites in search engines to obtain more network flows.
                            </dd>
                        </dl>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script src={% static "js/jquery-2.1.1.min.js" %}></script>
<script src={% static "js/index.js" %}></script>
</body>
</html>