{% extends 'polls/base.html' %}

{% block content %}
    <div style="margin:0 auto;width: 800px;margin-top: 100px;">
        <h2 class="sub-header">My Vote</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th >Question</th>
                    <th >My Vote</th>
                    <th style="text-align:center">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for content in all_votes %}
                <tr>
                    <td style="word-wrap:break-word;word-break:break-all;width: 400px;"><h5>{{ content.choice.question.question_text }}</h5></td>
                    <td style="word-wrap:break-word;word-break:break-all;width: 300px;"><h5>{{ content.choice.choice_text }}</h5></td>
                    <td style="word-wrap:break-word;word-break:break-all;width: 100px;"><h5 style="text-align:center">{{ content.vote_date }}</h5></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}