{% extends 'polls/base.html' %}
{% block content %}
    <div class="container" style="width: 300px; margin-top: 120px;">

        <form class="form-signin" method="post" action="{% url 'polls:signup' %}">{% csrf_token %}
            <h2 class="form-signin-heading">Please sign up</h2>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="" name="inputUsername" class="form-control" placeholder="Username" required=""
                   autofocus="" style="margin-bottom: 10px">

            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" name="inputEmail" class="form-control" placeholder="Email Address" required=""
                   autofocus="" style="margin-bottom: 10px">


            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword1" class="form-control" placeholder="Password" required=""
                   style="margin-bottom: 10px">
            <input type="password" name="inputPassword2" class="form-control" placeholder="Password Again" required=""
                   style="margin-bottom: 10px">
            <div class="checkbox">
                {#                <label>#}
                {#                    <input type="checkbox" value="remember-me"> Remember me#}
                {#                </label>#}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>

    </div>
{% endblock %}