{% extends 'polls/base.html' %}
{% block head %}
{#    <script type="text/javascript" src="static/bs/jquery-3.1.1.min.js"></script>#}

{% endblock %}
{% block content %}

    <div style="margin:0 auto;width:500px;margin-top: 100px;line-height:30px;">
        {% if add_status == -1 %}
            <div class="alert alert-danger" role="alert" style="margin-bottom: 5px;">
                <strong>Error!</strong>
            </div>
        {% elif add_status == 1 %}
            <div class="alert alert-success" role="alert" style="margin-bottom: 5px;">
                <strong>Success!</strong>
            </div>
        {% endif %}
        <form method="post" action="{% url 'polls:add' %}">{% csrf_token %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Question</h3>
                </div>

            </div>


            <textarea name="question" class="form-control" style="height: 100px;margin-bottom: 20px"></textarea>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Choice</h3>
                </div>

            </div>

            <input name="choice" type="text" class="form-control" style="margin-top: 10px">
            <input name="choice" type="text" class="form-control" style="margin-top: 10px">
            <input name="choice" type="text" class="form-control" style="margin-top: 10px">
            <input name="choice" type="text" class="form-control" style="margin-top: 10px">
            <input name="choice" type="text" class="form-control" style="margin-top: 10px">


            <a href="{% url 'polls:index' %}">
                <button type="button" class="btn btn-success" style="margin-top: 20px;float:left;width: 80px;">Home
                </button>
            </a>
{#            <button type="button" onclick="addButton()" class="btn btn-info" style="margin-top: 20px;float:left;margin-left: 10px;">Add#}
{#                choice#}
{#            </button>#}

            <button type="submit" class="btn btn-warning" style="margin-top: 20px;float:right;">Submit</button>
        </form>
    </div>
{% endblock %}
{% block last %}
{#        <script>#}
{#            function addButton() {#}
{#                var obj = '<input name="choice" type="text" class="form-control" style="margin-top: 10px">';#}
{#                $("#myinput").append(obj);#}
{#            }#}
{#        </script>#}
{% endblock %}